/*----- RESET -----*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*---- GENERAL -----*/

.gap-20{
    gap: 20px;
}
.gap-30{
    gap: 30px;
}
.gap-40{
    gap: 40px;
}
.container-large{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0;
}

.img-fluid{
    max-width: 100%;
}
ul{
    list-style: none;
}
/*---- BUTTONS -----*/

.btn{
    background-color: transparent;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-primary{
    background-color:#0061fe;
    color: white;
}
.btn-primary:hover{
    background-color:#073077;
    color: white;
}
.btn-secondary{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.btn-secondary:hover{
    background-color: rgb(171, 165, 165);
    color: black;
    border: 1px solid black;
}

.business .btn-primary{
    width: 100%;
}
/*---- TYPHOGRAPHY -----*/

body{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

h1{
    font-size: 50px;
    padding-top: 30px;
}
h2{
    font-size: 40px;
}

h3{
    font-size: 20px;
}
/*---- HEADER -----*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    flex-grow: 1;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}
.ul-header {
    display: flex;
    list-style: none;
}
.header-left, .header-right{
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
    color: inherit;
}


/*---- MAIN HERO -----*/

.hero{
    background-color: #b4d0e6;
}

.row{
    display: flex;
}
.col-small{
    width: 40%;
}
.col-big{
    width: 60%;
}

.space-large{
    padding-top: 70px;
    padding-bottom: 30px;
}
.space{
    padding: 30px 0;
}
.hero .img-fluid{
    position: relative;
    bottom: -70px;
    left: 0;
}
.hero .col-small{
    position: relative;
}
.hero i {
    position: absolute;
    bottom: 20px;
    left: 0;
    font-size: 40px;
}

/*---- MAIN BUSINESS -----*/

.business{
    margin-top: 80px;
    border-top: 1px solid #d0cfd4;
}
.grey{
    color: #6c6e6b;
}
.col{
    flex-grow: 1;
}
.business-top .col, .business-bottom{
    border: 1px solid #d0cfd4;
}
.business-bottom .row{
    justify-content: space-between;
}

.plane-title{
    text-align: center;
    border-bottom: 1px solid #d0cfd4;
    padding: 10px 0;
}

.space-20{
    padding: 20px 0;
}
.business li, .grey-info, footer li{
    padding: 8px 0;
}
.space-hr{
    width: 10%;
    margin: 20px 0;
}
.business-plane{
    padding: 30px;
}
.business i, footer i{
    padding-right: 4px;
}
.business label{
    padding-left: 4px;
}
.check i, main a{
    color: #0061fe;
}
main a{
    color: #100df2;
}



/*--- RADIO BUTTON ----*/
.radio-btn{
    display: flex;
    justify-content: center;
    align-items: center;     
}
.radio-btn .checkmark{
    width: 20px;
    height: 20px;
    border: 4px solid #0061fe;
    border-radius: 50%;
    display: inline-block;
    display: none;
}
.radio-btn input{
    display: block;
}
.radio-btn input:checked{
    display: none;
}
.radio-btn input:checked + .checkmark {
    display: block ;
}

/*----FOOTER-----*/

footer{
    background-color: black;
    color: white;
}

.footer-space{
    padding-right: 4px 0;
}